<section class="section">
  <%= render 'detail', product: @product, title: "Product" %>

  <div class="field is-grouped">
    <div class="control">
      <%= link_to 'Edit', edit_product_path(product), class: "button is-info" %>
    </div>
    <div class="control">
      <%= link_to 'Destroy', product, class: "button is-info", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="control">
      <%= link_to 'Back', products_path, class: "button is-info" %>
    </div>
  </div>
</section>